/* Style sheet */

/* Fonts */

	@font-face {
   		font-family: 'fontawesomeregular';
   	 		src: url('fonts/fontawesome-webfont-webfont.otf') format('otf'),
			url('fonts/fontawesome-webfont-webfont.eot') format('eot'),
        	url('fonts/fontawesome-webfont-webfont.svg') format('svg'),
        	url('fonts/fontawesome-webfont-webfont.ttf') format('ttf'),
    		url('fonts/fontawesome-webfont-webfont.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}

	@font-face {
		font-family: 'glyphicons-halflings-regular';
			src: url('fonts/glyphicons-halflings-regular.eot') format('eot'),
 	        url('fonts/glyphicons-halflings-regular.svg') format('svg'),
 	        url('fonts/glyphicons-halflings-regular.ttf') format('ttf'),
        	url('fonts/glyphicons-halflings-regular.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}


	* {
		font-family: 'Arial';
	}

/* Fonts colors, sizes and weights */

	nav a,
	.AgencyName,
	.UX-design-icon,
	.UI-design-icon,
	.SEO-icon {
		color: #4DA0BC;
		font-size: 1rem;
	}

	h1 {
		font-size: 1.2rem;
	}

	h1,
	.slide-textbox p,
	.slide-textbox a,
	.form-button,
	.prev-button span,
	.next-button span,
	nav a:hover,
	h5 {
		color: white;
	}

	h6,
	.contact-info p,
	.contact-info a {
		color: #E5E5E5;
	}

	nav a:active,
	.works li {
		color: black;
	}

	.slide-textbox a {
		display: none;
		text-decoration: none;
	}

	.services_details span {
		font-size: 1.2rem;
		font-weight: bold;
	}

	h3 {
		font-weight: bold;
	}

	h5 {
		font-size: 1.5rem;
	}

	h6 {
		font-size: 0.9rem;
		font-weight: bold;
	}

	.contact-info p {
		font-size: 0.8rem
	}

	input,
	textarea {
		font-size: 0.8rem;
	}

/* Special text modifications */

	h1,
	h2 {
		text-transform: uppercase;
		font-weight: bold;
	}

	h4,
	.projects_samples p {
		font-size: 0.75rem;
	}

	h4 {
		font-weight: 900;
	}

	.contact-info span {
		text-decoration: underline;
		text-decoration-style: dotted;
	}

	.contact-info a {
		text-decoration: none;
	}

/* Main structure */

	#main_wrapper {
		width: 400px;
		margin: auto;
	}

	*,
	*:before,
	*:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}

/* Header. REMINDER : add links to other sections on buttons */

	header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px 0;
	}

	.logo {
		width: 80%;
	}

	.logo img {
		width: 100%;
	}

	nav {
		width: 95%;
		height: 30px;
		margin-top: 10px;
	}

	nav ul {
		display: flex;
		justify-content: space-around;

		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	nav li {
		width: 23%;
		height: 30px;
	}

	nav a {
		font-size: 0.8rem;
		text-decoration: none;

		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 12px 0 12px 0;
		box-shadow: 2px 2px 6px #4DA0BC;
	}

	nav a:hover {
		background-color: #4DA0BC;
	}

	nav a:active {
		box-shadow: none;
	}

/* Slide */

	.slideshow-container {
		width: 100%;
		margin-top: 30px;
		position: relative;
	}

	.slide img {
		width: 100%;
	}

	.slide-textbox {
		width: 100%;
		height: 100%;

		margin-left: 30px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		position: absolute;
		top: 0px;
	}

	h1 {
		margin: 0;
		width : 55%;
	}

	.slide-textbox p {
		margin: 15px 0 0 0;
		width: 55%;
		font-size: 0.8rem;
	}

	.slide-textbox a {
		margin: 10px 0 0 0;
		width: 50%;
		font-size: 0.8rem;
	}

	/* Next & previous buttons */
		.prev-button,
		.next-button {
			cursor: pointer;
			position: absolute;
			top: 35%;
			width: 20px;
			height: 40px;
			overflow: hidden;
			transition: 0.6s ease;
			background-color: rgba(0,0,0,0.2);
		}

		.prev-button {
			left: 0%;
			border-radius: 0 40px 40px 0;
		}

		.next-button {
			right: 0%;
			border-radius: 40px 0 0 40px;
		}

		.prev-button span {
			position: absolute;
			top: 25%;
			left: 25%;
		}

		.next-button span {
			position: absolute;
			top: 25%;
			right: 25%;
		}

	/* Slide animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 3s;
			animation-name: fade;
			animation-duration: 3s;
		}

		@-webkit-keyframes fade {
			from {opacity: .4}
			to {opacity: 1}
		}

		@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}

/* Services, Projets and Contact sections common layouts */

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	h2 {
		margin: 0;
		font-size: 1.8rem;
	}

	/* Splitter */

		.splitter {
			width : 80%;
			display: flex;
			justify-content: center;
		}

		.underline_blue_dot {
			width: 14px;
			height: 14px;

			margin: 20px 0;
			display: inline-block;
			position: relative;
		
			border-radius: 50%;
			background-color: #4DA0BC;
		}

		.underline_blue_dot:before,
		.underline_blue_dot:after {
			content: "";
			position: absolute;
			height: 5px;
			border-top: 1px grey solid;
			top: 50%;
			width: 40px;
		}

		.underline_blue_dot:before {
			right: 100%;
			margin-right: 5px;
		}

		.underline_blue_dot:after {
			left: 100%;
			margin-left: 5px;
		}	

	.section-intro {
	width: 90%;
	margin: 0;
	font-size: 0.9rem;
	margin: 10px 0;
	}

/* Services */

	#services img {
		display: none;
	}

	.services_details {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	h3,
	.services_details p {
		margin: 0;
	}

	/* Services icons and icons circles */

		.UX-design-icon,
		.UI-design-icon,
		.SEO-icon {
			width: 70px;
			height: 70px;
			margin: 20px 0 5px 0;
			border-radius: 50%;
			border: solid #858585 1px;
			align-self: center;
		}

		.services_details i {
			position: relative;
			top: 16px;
			left: 18px;
		}

		.icons_white_dot,
		.icons_blue_dot {
			position: relative;
			border-radius: 50%;
		}

		.icons_white_dot {
			width: 20px;
			height: 20px;

			
			bottom: 9px;
			left: 57px;

			background-color: white;
		}

		.icons_blue_dot {
			width: 16px;
			height: 16px;

			bottom: 27px;
			left: 59px;

			background-color: #4DA0BC;
		}

/* Projects (work in progress) */

	#projects {
		background-color: #F5F5F5;

		width: 100%;

		display: flex;
		align-items: center;

		padding: 5px 0px;
	}

	/* Works menu */

		.works {
			width: 90%;
			height: 30px;
			margin-top: 20px;
		}

		.works ul {
			background-color: #E5E5E5;

			display: flex;
			flex-direction: row;

			margin: 0;
			padding: 0;

			border-radius: 5px;

			height: 100%;

			display: flex;
			list-style-type: none;
			box-shadow: 0px 3px 0px #E5E5E5;
		}

		.works li {
			cursor: pointer;
			width: 100%;
			height: 100%;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;
		}


		.works li:hover {
			background-color: #4DA0BC;
			color: white;
			box-shadow: 0px 3px 0px #468CAD;

		}

		.works li:active {
			background-color: #4DA0BC;
			color: white;
			box-shadow: 0px 3px 0px #4DA0BC;
		}

		.all_works {
			border-radius: 5px 0 0 5px;
		}

		.creative {
		}

		.corporate {
		}

		.portfolio {
			border-radius: 0 5px 5px 0;
		}

		.works span {
			position: absolute;
			top: 33px;
			left: 40px;
		    border-top: 8px solid #468CAD;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		}

		.works span:hover {
			border-top: 8px solid black;
		}

	/* Projects_samples div */

		.projects_samples {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 15px;
			padding: 5px 0;
		}

		h4,
		.projects_samples p {
			margin: 0;
			padding: 0;

		}

		.projects_samples p {
			margin-top: 5px;
		}

		.project_1_layer,
		.project_2_layer,
		.project_3_layer,
		.project_4_layer,
		.project_5_layer,
		.project_6_layer,
		.project_7_layer,
		.project_8_layer {
			width: 150px;
			height: 100px;

			margin: 5px 5px;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			background-size: cover;
		}

		.project_1_layer {
			background-image: url('images/portfolio/01.jpg');

		}

		.project_2_layer {
			background-image: url('images/portfolio/02.jpg');
		}

		.project_3_layer {
			background-image: url('images/portfolio/03.jpg');
		}

		.project_4_layer {
			background-image: url('images/portfolio/04.jpg');
		}

		.project_5_layer {
			background-image: url('images/portfolio/05.jpg');
		}

		.project_6_layer {
			background-image: url('images/portfolio/06.jpg');
		}

		.project_7_layer {
			background-image: url('images/portfolio/07.jpg');
		}

		.project_8_layer {
			background-image: url('images/portfolio/08.jpg');
		}

		.project_1_details,
		.project_2_details,
		.project_3_details,
		.project_4_details,
		.project_5_details,
		.project_6_details,
		.project_7_details,
		.project_8_details {
			padding: 0px 5px;
			width: 100%;
			height: 50%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: rgba(0,0,0,0.5);
			color: white;
			position: relative;
		}

		/* Eye icon */

			.see_more_button {
				width: 26px;
				height: 26px;

				position: absolute;
				top: -13px;
				right: 5px;

				border-radius: 50%;
				border: 2px white solid;

				color: white;
				background-color: #4DA0BC;
			}

/* Contacts */

	#contact {
		width: 100%;
		padding: 10px 0;
		background-color: grey;
	}

	.contact-background {
		width: 60%;
		background-color: #4DA0BC;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-content {
		width: 90%;
	}

	.contact-info {
	}
	
	h5 {
		margin: 10px 0 0 0;
	}

	h6 {
		margin: 10px 0 5px 0;
	}

	p {
		margin: 0;
	}

	form {
	}

	input,
	textarea {
		margin-top: 10px;
		width: 100%;
		padding-left: 5px;
		border: 0.7px grey solid;
		border-radius: 3px;
	}

	.form-button {
		cursor: pointer;
		margin: 15px 0;
		background-color: #E5E5E5;
		color: black;
	}

	.form-button:hover {
	}

	.form-button:active {
	}

/* Media-Queries */

	/* Properties for tablets */

		@media (min-width: 768px) {

		/* Font size */

			nav a,
			.AgencyName,
			.UX-design-icon,
			.UI-design-icon,
			.SEO-icon {
				font-size: 1.1rem;
			}

		/* Fonts colors, sizes and weights */

		h5 {
			color: black;
		}

		h6,
		.contact-info p,
		.contact-info a {
			color: grey;
		}

		/* Main structure */

			#main_wrapper {
				width: 768px;
			}

			.logo {
				width: 40%;
			}

			slide-textbox a {
				width: 20%;
				background-color: red;
				display: block;
			}

			nav {
				width: 70%;
				height: 40px;
				margin-top: 10px;
			}
		
			nav li {
				width: 23%;
				height: 40px;
			}

			nav a {
				border-radius: 18px 0 18px 0;
			}

		/* Services, Projets and Contact sections common layouts */

			.section-intro {
				width: 50%;
			}

		/* Services */

			.services_details {
				width: 60%;
			}

		/* Projects */

			.works {
				width: 60%;
			}

			.works span {
				left: 52px;
			}

			.project_1_layer,
			.project_2_layer,
			.project_3_layer,
			.project_4_layer,
			.project_5_layer,
			.project_6_layer,
			.project_7_layer,
			.project_8_layer {
				width: 240px;
				height: 160px;
			}

			.project_1_details,
			.project_2_details,
			.project_3_details,
			.project_4_details,
			.project_5_details,
			.project_6_details,
			.project_7_details,
			.project_8_details {
				height: 40%;
			}

			/* Projects_samples div */

				/* Eye icon */

					.see_more_button {
						width: 36px;
						height: 36px;

						position: absolute;
						top: -18px;
						right: 15px;

						border-radius: 50%;
						border: 2px white solid;

						color: white;
						background-color: #4DA0BC;
					}

		/* Contact */

			.contact-background {
				background-color: rgba(192,192,192,0.4);
				width: 25%;
			}

		} /*End of tablets properties*/

	/* Properties for desktops */

		@media (min-width: 1024px) {

		/* Main structure */

			#main_wrapper {
				width: 1024px;
			}

		/* Projects */

			.project_1_layer,
			.project_2_layer,
			.project_3_layer,
			.project_4_layer,
			.project_5_layer,
			.project_6_layer,
			.project_7_layer,
			.project_8_layer {
				width: 240px;
				height: 160px;
			}
		
		/* Contact */

			.contact-background {
				background-color: rgba(192,192,192,0.4);
				width: 20%;
			}

		} /*End of desktop screen properties*/