/* Style sheet */

/* Fonts families */

	a,
	p,
	h3 {
		font-family: 'Open Sans', 'Arial';
	}

	h1,
	h2,
	.works,
	.projects_samples,
	.contact-info,
	input,
	textarea {
		font-family: 'Roboto';
	}

/* Fonts colors */

	nav a,
	.AgencyName,
	.services-icon {
		color: #4DA0BC;
	}

	h1,
	.slide-textbox p,
	.slide-textbox a,
	.prev-button span,
	.next-button span,
	nav a:hover,
	h5,
	.projects_samples,
	.works li:hover,
	.works li:active {
		color: white;
	}

	h6,
	.contact-info p,
	.contact-info a {
		color: #E5E5E5;
	}

	nav a:active,
	.works,
	.form-button {
		color: black;
	}

/* Fonts sizes and weights */

	nav a,
	h1,
	.AgencyName,
	input,
	textarea,
	.contact-info p {
		font-size: 0.8rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1rem;
	}

	.section-intro,
	.services_details p,
	.works li {
		font-size: 0.9rem;
	}

	.slide-textbox p,
	.slide-textbox a,
	.see_more_button i {
		font-size: 0.6rem;
	}

	h4,
	.projects_samples p {
		font-size: 0.7rem;
	}

	h5 {
		font-size: 1.5rem;
	}

	h6 {
		font-size: 0.9rem;
	}

	h1,
	h2,
	h3,
	h4,
	h6,
	.works li {
		font-weight: bold;
	}

/* Special text modifications */

	h1,
	h2 {
		text-transform: uppercase;
	}

	.section-intro {
		text-align: center;
	}

	.contact-info span {
		text-decoration: underline;
		text-decoration-style: dotted;
	}

	nav a,
	.slide-textbox a,
	.contact-info a {
		text-decoration: none;
	}

/* Main structure */

	#main_wrapper {
		margin: 0 auto;
	}

	*,
	*:before,
	*:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}

/* Header */

	header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px 0;
	}

	.logo {
		width: 80%;
	}

	.logo img {
		width: 100%;
	}

	nav {
		width: 95%;
		height: 30px;
		margin-top: 10px;
	}

	nav ul {
		display: flex;
		justify-content: space-around;

		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	nav li {
		width: 23%;
		height: 30px;
	}

	nav a {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 12px 0 12px 0;
		box-shadow: 2px 2px 6px #4DA0BC;
	}

	nav a:hover {
		background-color: #4DA0BC;
	}

	nav a:active {
		box-shadow: none;
	}

/* Slide */

	.slideshow {
		width: 100%;
		margin-top: 30px;
		position: relative;
	}

	.slide img {
		width: 100%;
	}

	.slide-textbox {
		width: 55%;
		height: 100%;
		margin-left: 30px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		position: absolute;
		top: 0px;
	}

	h1 {
		margin: 0;
	}

	.slide-textbox p {
		margin-top: 15px;
	}

	.slide-textbox a {
		background-color: #4DA0BC;
		margin-top: 10px;
		display: none;
	}

	/* Next & previous buttons */

		.prev-button,
		.next-button {
			cursor: pointer;
			position: absolute;
			top: 32%;
			width: 5%;
			height: 30%;
			transition: 0.6s ease;
			background-color: rgba(0,0,0,0.2);
		}

		.prev-button {
			left: 0px;
			border-radius: 0 40px 40px 0;
		}

		.next-button {
			right: 0px;
			border-radius: 40px 0 0 40px;
		}

		.prev-button span {
			position: absolute;
			top: 27%;
			left: 18%;
		}

		.next-button span {
			position: absolute;
			top: 27%;
			right: 18%;
		}

	/* Slide animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 3s;
			animation-name: fade;
			animation-duration: 3s;
		}

		@-webkit-keyframes fade {
			from {opacity: .4}
			to {opacity: 1}
		}

		@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}

/* Services, Projets and Contact sections common layouts */

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0;
	}

	h2 {
		margin: 0;
	}

	/* Splitter */

		.splitter {
			width : 80%;
			display: flex;
			justify-content: center;
		}

		.underline_blue_dot {
			width: 14px;
			height: 14px;

			margin: 20px 0;
			display: inline-block;
			position: relative;
		
			border-radius: 50%;
			background-color: #4DA0BC;
		}

		.underline_blue_dot:before,
		.underline_blue_dot:after {
			content: "";
			position: absolute;
			border-top: 1px grey solid;
			top: 50%;
			width: 40px;
		}

		.underline_blue_dot:before {
			right: 100%;
			margin-right: 5px;
		}

		.underline_blue_dot:after {
			left: 100%;
			margin-left: 5px;
		}

	.section-intro {
	width: 90%;	
	margin: 10px 0;
	}

/* Services */

	#services img {
		display: none;
	}

	.services_details {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	h3,
	.services_details p {
		margin: 0;
	}

	/* Services icons and icons circles */

		.services-icon {
			width: 70px;
			height: 70px;
			margin: 20px 0 5px 0;
			border-radius: 50%;
			border: solid #858585 1px;
			align-self: center;
		}

		.services_details i {
			position: relative;
			top: 16px;
			left: 18px;
		}

		.icon_blue_dot {
			position: relative;
			border-radius: 50%;

			width: 18px;
			height: 18px;

			bottom: 9px;
			left: 58px;

			background-color: #4DA0BC;
			border: 2px white solid;
		}

/* Projects */

	#projects {
		background-color: #F5F5F5;

		width: 100%;

		display: flex;
		align-items: center;
	}

	/* Works menu */

		.works {
			width: 90%;
			height: 30px;
			margin-top: 20px;
		}

		.works ul {
			background-color: #E5E5E5;

			display: flex;
			flex-direction: row;

			margin: 0;
			padding: 0;

			border-radius: 5px;

			height: 100%;

			display: flex;
			list-style-type: none;
			box-shadow: 0px 3px 0px #E5E5E5;
		}

		.works li {
			cursor: pointer;
			width: 100%;
			height: 100%;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;
		}


		.works li:hover {
			background-color: #4DA0BC;
			box-shadow: 0px 3px 0px #468CAD;

		}

		.works li:active {
			background-color: #4DA0BC;
			box-shadow: 0px 3px 0px #4DA0BC;
		}

		.all_works {
			border-radius: 5px 0 0 5px;
		}

		.portfolio {
			border-radius: 0 5px 5px 0;
		}

		.works span {
			position: absolute;
			top: 33px;
			left: 30px;
		    border-top: 8px solid #468CAD;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		}

		.works span:hover {
			border-top: 8px solid black;
		}

	/* Projects_samples block */

		.projects_samples {
			width: 85%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 25px;
		}

		.project_layer {
			width: 45%;
			margin: 5px;
			position: relative;
		}

		.project_layer img {
			width: 100%;
		}

		.project_details {
			width: 100%;
			height: 40%;

			position: absolute;
			top: 57%;
			left: 0;

			padding: 0px 5px;

			background-color: rgba(0,0,0,0.5);
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		h4,
		.projects_samples p {
			margin: 0;
			padding: 0;
			width: 80%;
		}

		.projects_samples p {
			margin-top: 5px;
			display: none;
		}

		/* Eye icon */

			.see_more_button {
				cursor: pointer;
				width: 26px;
				height: 26px;

				position: absolute;
				top: -13px;
				right: 6px;

				border-radius: 50%;
				border: 2px white solid;

				background-color: #4DA0BC;
				margin: auto;
			}

			.see_more_button i {
				position: absolute;
				top: 7px;
				left: 6px;
			}

/* Contacts */

	#contact {
		width: 100%;
		background-color: #CECECE;
	}

	.contact-container {
		width: 90%;
		display: flex;
		justify-content: center;
	}

	#map {
		width: 100%;
		height: 100%;
		display: none;
	}

	.blue_filter {
		display: flex;
		justify-content: center;
	}

	.contact-background {
		width: 60%;
		padding: 10px 10px;
		background-color: #4DA0BC;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-info {
		width: 100%
	}

	h5,
	p {
		margin: 0;
	}

	h6 {
		margin: 10px 0 5px 0;
	}

	input,
	textarea {
		margin-top: 10px;
		width: 100%;
		padding-left: 5px;
		border: 0.5px #CECECE solid;
		border-radius: 3px;
	}

	.form-button {
		cursor: pointer;
		margin: 15px 0 10px 0;
		background-color: #E5E5E5;
		box-shadow: 1px 2px 4px black;
	}

	.form-button:active {
		box-shadow: none;
	}

/* Media-Queries */

	/* Properties for tablets */

		@media (min-width: 768px) {

		/* Fonts colors */

			.form-button {
				color: white;
			}

			h5 {
			color: black;
			}

			h6,
			.contact-info p,
			.contact-info a {
				color: #303030;
			}

		/* Fonts sizes and weights */

			nav a,
			.services-icon {
				font-size: 1.1rem;
			}

			h1,
			.AgencyName {
				font-size: 1.2rem;
			}


			.slide-textbox p,
			.slide-textbox a {
				font-size: 0.9rem;
			}

			.prev-button span,
			.next-button span {
				font-size: 1.3rem;
			}

			h4,
			.projects_samples p {
				font-size: 0.9rem;
			}

			.form-button {
				font-size: 0.7rem;
				font-weight: bold;
			}

		/* Main structure */

			#main_wrapper {
				width: 768px;
			}

		/* Header */

			.logo {
				width: 40%;
			}

			slide-textbox a {
				width: 20%;
				background-color: red;
				display: block;
			}

			nav {
				width: 90%;
				height: 40px;
				margin-top: 10px;
				border: none;
			}
		
			nav li {
				width: 23%;
				height: 40px;
			}

			nav a {
				border-radius: 18px 0 18px 0;
			}

		/* Slide */

			.slide-textbox {
				margin-left: 50px;
				width: 50%;
			}

			.slide-textbox p {
				width: 80%;
			}

			.slide-textbox a {
				width: 25%;
				height: 10%;

				margin-top: 15px;
				border-radius: 3px;

				display: flex;
				justify-content: center;
				align-items: center;
			}

			/* Next & previous buttons */

				.prev-button,
				.next-button {
					top: 102px;
					width: 30px;
					height: 60px;
				}

				.prev-button span {
					position: absolute;
					top: 18px;
					left: 9px;
				}

				.next-button span {
					position: absolute;
					top: 18px;
					right: 9px;
				}

		/* Services, Projets and Contact sections common layouts */

			.section-intro {
				width: 50%;
			}

		/* Services */

			#services img {
				margin-top: 15px;
				display: flex;
			}

			.services_details {
				width: 80%;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
			}

			.services-icon,
			.services-speech {
				margin: 30px 20px 5px 20px;
			}

			.services-icon {
				height: 70px;
			}

			.services-speech {
				width: 65%;
				height: 70px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

		/* Projects */

			.works {
				width: 60%;
			}

			.works span {
				left: 42%;
			}

			.project_layer {
				width: 30%;
			}

			.project_details {
				height: 40%;
				top: 58%;
				padding: 0px 10px;
			}

			/* Projects_samples block */

				.projects_samples p {
					margin-top: 7px;
					display: block;
				}

				/* Eye icon */

					.see_more_button {
						width: 36px;
						height: 36px;

						position: absolute;
						top: -32%;
						left: 75%;
					}

					.see_more_button i {
						font-size: 0.8rem;
						top: 30%;
						left: 25%;
					}

		/* Contact */

			#contact {
				background-color: #FBFCFA;
			}

			.contact-container {
				position: relative;
			}

			#map {
				height: 400px;
				display: block;
			}

			.blue_filter {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(52, 145, 178, 0.2);
			}

			.contact-background {
				width: 30%;
				position: absolute;
				top: 8%;
				left: 60%;
				background-color: rgba(255, 255, 255, 0.8);
				border-radius: 0;
			}

			.form-button {
				width: 50%;
				height: 25px;
				background-color: #4DA0BC;
				box-shadow: 0px 3px 0px #468CAD;
			}

			.form-button:active {
				background-color: #4DA0BC;
				box-shadow: 0px 3px 0px #4DA0BC;
			}

		} /*End of tablets properties*/

	/* Properties for desktops */

		@media (min-width: 1024px) {

		/* Fonts size */

			nav a {
				font-size: 0.6rem;
				color: grey;
			}

			.prev-button span,
			.next-button span {
				font-size: 1.5rem;
			}

			h1,
			.AgencyName {
				font-size : 1.5rem;
			}

		/* Fonts sizes and weights */

			.form-button {
				font-weight: bold;
			}

		/* Main structure */

			#main_wrapper {
				width: 1024px;
			}

		/* Header */

			header {
				flex-direction: row;
				justify-content: space-between;
				margin: 0;
				height: 100px;
			}

			.logo {
				margin-left: 112px;
				width: 21%;
			}

			nav {
				width: 20%;
				height: 100%;
				margin-right: 145px;
				margin-top: 0;
			}

			nav ul {
				height: 100%;
				margin:0;
				padding: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			nav li {
				height: 100%;
				margin:0;
				padding: 0;
			}

			nav a {
				height: 100%;
				border-radius: 0;
				box-shadow: none;
				border-top: 4px white solid;
			}

			nav a:hover {
				background-color: white;
				color: grey;
				border-top: 4px #4DA0BC solid;
			}

		/* Slide */

			.slideshow {
				margin-top: 0px;
			}

			.slideshow-container {
				margin-top: 0px;
			}


			.slide-textbox {
				margin-left: 105px;
			}

			h1 {
				width : 42%;
			}

			.slide-textbox p {
				margin-top: 15px; 
				width: 55%;
				font-size: 0.8rem;
			}

			.slide-textbox a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 9%;
				height: 9%;
				background-color: #4DA0BC;
				margin-top: 15px;
				font-size: 0.8rem;
			}

			/* Next & previous buttons */

				.prev-button,
				.next-button {
					top: 155px;
					width: 30px;
					height: 60px;
				}

				.prev-button {
					left: 0px;
				}

				.next-button {
					right: 0px;
				}

				.prev-button span {
					position: absolute;
					top: 18px;
					left: 6px;
				}

				.next-button span {
					position: absolute;
					top: 18px;
					right: 6px;
				}

		/* Projects */

			.project_layer {
				width: 20%;
			}
		
		/* Contact */

			#contact {
				background-color: #FBFCFA;
			}

			.contact-container {
				width: 100%;
			}

			#map {
				height: 450px;
				border-radius: 0px;
				display: block;
			}

			.blue_filter {
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(52, 145, 178, 0.2);
			}

			.contact-background {
				background-color: rgba(255, 255, 255, 0.8);
				width: 25%;
				height: 85%;
				top: 8%;
				left: 64%;
			}

			textarea {
				height: 130px;
			}

			.form-button {
				width: 38%;
				height: 27px;
				background-color: #4DA0BC;
				box-shadow: 0px 3px 0px #468CAD;
			}

			.form-button:active {
				background-color: #4DA0BC;
				box-shadow: 0px 3px 0px #4DA0BC;
			}

		} /*End of desktop screen properties*/